<html>
<head>
<title>Drum Machine</title>
<link rel="stylesheet" href="/styles/bootstrap.css"/>  
<link rel="stylesheet" href="/styles/extra.css"/> 
<style type="text/css">
  #container{
    margin-left: 40px;
    padding: 50px;
    padding-top: 60px;
    
  }
  .logincontainer{
    padding: 50px;
    padding-top: 60px;  
  }
  .signup {
      margin-top: 10px;
      width: 300px;
      height: 100px;
      float: right;
  }
  .signup p{
     margin-left: 10px;
    display: inline-block;   
  }
  .signup a{
    margin-left: 10px;
    display: inline-block;
   }
  header{
    background-color: #c9d8f2; 
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 15px; 
    padding-bottom: 20px;
    font-weight: bold;
    height: 100px;
  }
  header img{
    float: left;
    width: 200px;
    height: 80px;
    padding-bottom: 15px;
    margin-left: 20px;
  }
  body{
    background-color: #e1e6ef; 
  }
</style>
</head>
<body>
	{{{body}}}	
</body>
</html>