<header>
<div>
<img src="logo.png" >
</div>
{{#if loggedin}}
<div class="signup"><p>{{uname.username}}</p> <a href="/logout">logout</a> </div>
{{else}}
<div class="signup">welcome guest  <a href="/login">log in</a> <a href="/register">Sign Up</a> </div>
{{/if}}
</header>
<div class="logincontainer">
        <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
		
							<div class="col-xs-6">
								<a href="/login" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="" class="active" id="register-form-link">Register</a>
							</div>

						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">

								
								<form id="register-form" action="/register" method="post" role="form" >
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirmpassword" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
										{{#if retryerror}}
										<small id="emailHelp" class="form-text text-muted">there were errors, please retry</small>
										{{/if}}
										{{#if matcherror}}
										<small id="emailHelp" class="form-text text-muted">passwords do not match</small>
										{{/if}}
										{{#if emailerror}}
										<small id="emailHelp" class="form-text text-muted">email already exists</small>
										{{/if}}
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>